<div class="container">
    <h2 class="text-center key-feature-heading">Key Features</h2>
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card-container">
                <a class="card">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="key-feature-ellipse-bg">
                                <div class="key-feature-icon-technical key-feature-icon-common"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div>
                                <h3 class="key-featue-title">Technical Security</h3>
                            </div>
                            <p class="text-justify text-color">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a
                                galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>



                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card-container">
                <a class="card">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="key-feature-ellipse-bg">
                                <div class="key-feature-icon-security key-feature-icon-common"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div>
                                <h3 class="key-featue-title">Data Security</h3>
                            </div>
                            <p class="text-justify text-color">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a
                                galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
                   
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card-container">
                <a class="card">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="key-feature-ellipse-bg">
                                <div class="key-feature-icon-prevention key-feature-icon-prevention-common"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div>
                                <h3 class="key-featue-title">Identity Theft Prevention</h3>
                            </div>
                            <p class="text-justify text-color">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a
                                galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
                   
                </a>
            </div>
        </div>
    </div>
</div>